.main {
  text-align: center;
  display: flex;
  justify-content: center;
}
.main_result{
  font-size: 40px;
  text-align: center;
}

.box{
  border: 1px solid black;
  width: 400px;
}
.item-img{
  width: 300px;
  height: 300px;
}
.win { border: 10px solid green; color: green; } 
.lose { border: 10px solid red; color: red; } 
.draw { border: 10px solid black; color: black; }

